<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <filter>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>yznu.holiday.filter.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>yznu.holiday.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BorrowServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.BorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowServlet</servlet-name>
    <url-pattern>/BorrowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypeBooksServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.TypeBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeBooksServlet</servlet-name>
    <url-pattern>/TypeBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RechargeServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.RechargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechargeServlet</servlet-name>
    <url-pattern>/RechargeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePswServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.UpdatePswServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePswServlet</servlet-name>
    <url-pattern>/UpdatePswServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTypeServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.EditTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTypeServlet</servlet-name>
    <url-pattern>/EditTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReaderSearchServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.ReaderSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderSearchServlet</servlet-name>
    <url-pattern>/ReaderSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackBookServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.BackBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackBookServlet</servlet-name>
    <url-pattern>/BackBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RenewBookServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.RenewBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenewBookServlet</servlet-name>
    <url-pattern>/RenewBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>yznu.holiday.servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
</web-app>